@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.uvGreen {
    color: green;
}

.uvYellow {
    color: yellow;
}

.uvOrange {
    color: orange;
}

.uvRed {
    color: red;
}

.hide {
    display: none;
}