/* imported google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* universally applied font */
* {
    font-family: 'Poppins', sans-serif;
}

/* colour settings for the UV Index to display to */
.uvGreen {
    color: green;
}

.uvYellow {
    color: yellow;
}

.uvOrange {
    color: orange;
}

.uvRed {
    color: red;
}

/* class to display none */
.hide {
    display: none;
}